$spacing-0: 0 !default;
$spacing-1: 0.5em !default;
$spacing-2: 1em !default;
$spacing-3: 2em !default;
$spacing-4: 4em !default;
$spacing-5: 5em !default;

$spacings: (
        "0": $spacing-0,
        "1": $spacing-1,
        "2": $spacing-2,
        "3": $spacing-3,
        "4": $spacing-4,
        "5": $spacing-5
);


$sizes: (
        "100": 100%,
        "75": 75%,
        "50": 50%,
        "25": 25%
);

@each $spacing, $value in $spacings {
  .m-#{$spacing} {
    margin: $value;
  }
}

@each $spacing, $value in $spacings {
  .mt-#{$spacing} {
    margin-top: $value;
  }
}

@each $spacing, $value in $spacings {
  .mb-#{$spacing} {
    margin-bottom: $value;
  }
}

@each $size, $value in $sizes {
  .w-#{$size} {
    width: #{$value};
  }
  .h-#{$size} {
    height: #{$value};
  }
}

.vh- {
  &100 {
    height: 100vh;
  }

  &75 {
    height: 75vh;
  }

  &50 {
    height: 50vh;
  }

  &25 {
    height: 25vh;
  }
}

@each $spacing, $value in $spacings {
  .ml-#{$spacing} {
    margin-left: $value;
  }
}

@each $spacing, $value in $spacings {
  .mr-#{$spacing} {
    margin-right: $value;
  }
}

@each $spacing, $value in $spacings {
  .p-#{$spacing} {
    padding: $value;
  }
}

@each $spacing, $value in $spacings {
  .pt-#{$spacing} {
    padding-top: $value;
  }
}

@each $spacing, $value in $spacings {
  .pb-#{$spacing} {
    padding-bottom: $value;
  }
}


@each $spacing, $value in $spacings {
  .pl-#{$spacing} {
    padding-left: $value;
  }
}

@each $spacing, $value in $spacings {
  .pr-#{$spacing} {
    padding-right: $value;
  }
}
